{% include base_path %}

{% assign share_url = page.url | prepend: base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <div class="btn-row">
    <a href="https://bsky.app/intent/compose?text={{ share_url | url_encode }}" class="btn btn--bluesky" rel="nofollow noopener" target="_blank" aria-label="Share on Bluesky"><i class="fab fa-bluesky" aria-hidden="true"></i><span> Bluesky</span></a>

    <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url | url_encode }}" class="btn btn--facebook" rel="nofollow noopener" target="_blank" aria-label="Share on Facebook"><i class="fab fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ share_url | url_encode }}" class="btn btn--linkedin" rel="nofollow noopener" target="_blank" aria-label="Share on LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

    <a href="https://www.addtoany.com/add_to/mastodon?linkurl={{ share_url | url_encode }}" class="btn btn--mastodon" rel="nofollow noopener" target="_blank" aria-label="Share on Mastodon"><i class="fab fa-mastodon" aria-hidden="true"></i><span> Mastodon</span></a>

    <a href="https://x.com/intent/post?text={{ share_url | url_encode }}" class="btn btn--x" rel="nofollow noopener" target="_blank" aria-label="Share on X, formerly Twitter"><i class="fab fa-x-twitter" aria-hidden="true"></i><span> X</span></a>
  </div>
</section>
